.main-layout-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: #f6f7f7;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.card-darken {
  background: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .card-darken {
    flex-direction: column;
    align-items: self-start;
  }
}

@media only screen and (max-width: 460px) {
  .card {
    padding: 15px;
  }
}
